<section class="MenuSection">
    <div class="MenuSection-title">
      <h1>Soup</h1>
    </div>
    <ul class="MenuItem">
      <li class="MenuItem-list">
        <label class="MenuItem-container">
          Soup1
          <p class="MenuItem-price">3$</p>
          <input type="number" id="myNumber" value="2">
        </label>
      </li>
      <li class="MenuItem">
        <label class="MenuItem-container">
          Soup1
          <p class="MenuItem-price">3$</p>
          <input type="number" id="myNumber" value="2">
        </label>
      </li>
      <li class="MenuItem">
        <label class="MenuItem-container">
          Soup1

          <p class="MenuItem-price">3$</p>
          <input type="number" id="myNumber" value="2">
        </label>
      </li>
    </ul>
  </section>
