<article class="MenuPage">
  <h1 class="MenuPageTitle">MENUS</h1>
  <hr class="Cafeteria-header-line">

<%= render partial: "menu"%>
<%= render partial: "menu"%>
<%= render partial: "menu"%>
</article>
