
<table class="OrderCart">
	<h1 class="CartTitle">Cart</h1>
	<thead>
	<tr>
		<th>S No.</th>
		<th>Item</th>
		<th>Type</th>
		<th>Price</th>
		<th>Quantity</th>
		<th>Total</th>
		<th>action</th>
	</tr>
	<tr>
		<td>1</td>
		<td>Tomata Soup</td>
		<td>Soup</td>
		<td>30</td>
		<td>2</td>
		<td>60</td>
		<td>Remove</td>
	</tr>	</thead>
	<tbody>

	</tbody>
</table>
